*, *::after, *::before{
	box-sizing: border-box;
}

.Stage{
	width: 600px;
	height: 480px;
	background: #eee;
	overflow: hidden;
	position: relative;
}

.Scene{
	width: 1900px;
	height: 480px;
	background: blue;
	position: relative;
	transition: all .04s linear;
}
.Scene-Floor{
	height: 30px;
	background: brown;
	position: absolute;
	bottom: 0;
}


.Puppet{
	width: 40px;
	height: 60px;
	background: black;
	position: absolute;
	left: 40px;
	bottom: 60px;
	transition: all .04s linear;
	z-index: 10;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.Puppet:before {
    background: #444;
    width: 40px;
    height: 40px;
    position: absolute;
    content: '. .';
    border-radius: 40px;
	 text-align: right;
	 color: #fff;
}
.Puppet-frente:before {
	text-align: right;
}
.Puppet-tras:before {
	text-align: left;
}

.Box{
	width: 40px;
	height: 40px;
	background: brown;
	position: absolute;
	bottom: 30px;
}
