*, *::after, *::before{
	box-sizing: border-box;
}

.Stage{
	width: 600px;
	height: 480px;
	background: #eee;
	overflow: hidden;
	position: relative;
}

.Scene{
	width: 1900px;
	height: 480px;
	background: blue;
	position: relative;
	transition: all .04s linear;
}
.Scene-Floor{
	height: 30px;
	background: brown;
	position: absolute;
	bottom: 0;
	border-top: 5px solid green;
}


.Puppet{
	width: 20px;
	height: 50px;
	background: black;
	position: absolute;
	left: 40px;
	bottom: 60px;
	transition: all .04s linear;
	z-index: 10;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.Puppet:before {
    background: #444;
    width: 30px;
    height: 30px;
	 left:-5px;
    position: absolute;
    content: '. .';
    border-radius: 30px;
	 text-align: right;
	 color: #fff;
}
.Puppet-ahead:before {
	text-align: right;
}
.Puppet-backwards:before {
	text-align: left;
}
.Puppet-blink:before {
	color: #444;
}
.Puppet:after {
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #444;
    border-radius: 10px;
    top: 30px;
    left: 10px;
}
.Puppet-running:after {
	 animation: run .4s linear 0s infinite alternate;
}
@keyframes run {
	from { left: -10px; }
	to { left: 20px ;}
}

.Box{
	width: 40px;
	height: 40px;
	background: brown;
	position: absolute;
	bottom: 30px;
}
