.Puppet{
	position: absolute;
	left: 40px;
	bottom: 39px;
	z-index: 10;

	width: 14px;
	height: 20px;
	background: url('./mario.png') no-repeat -209px 0;
}

.Puppet.walk{
	background-position: -209px 0;
}
.Puppet.walk2{
	background-position: -328px 0;
}
.Puppet.walk-back{
	background-position: -169px 0;
}
.Puppet.walk-back2{
	background-position: -49px 0;
}
/* .Puppet:before {
//     background: #444;
//     width: 30px;
//     height: 30px;
// 	 left:-5px;
//     position: absolute;
//     content: '. .';
//     border-radius: 30px;
// 	 text-align: right;
// 	 color: #fff;
// }
// .Puppet-ahead:before {
// 	text-align: right;
// }
// .Puppet-backwards:before {
// 	text-align: left;
// }
// .Puppet-blink:before {
// 	color: #444;
// }
// .Puppet:after {
//     content: ' ';
//     position: absolute;
//     width: 8px;
//     height: 8px;
//     background: #444;
//     border-radius: 10px;
//     top: 30px;
//     left: 10px;
// }
// .Puppet-running:after {
// 	 animation: run .4s linear 0s infinite alternate;
// }
// @keyframes run {
// 	from { left: -10px; }
// 	to { left: 20px ;}
// }
*/
