@import "~/engine/styles/engine.less";
@import "_scenario.less";


.Scene{
	background: #5c94fc;
	width: 3584px;
	height: 240px;//432
	position: relative;
	transition: all .04s linear;
}

.GameOver{
	width: 256px;
	height: 240px;
	position: absolute;
	z-index: 100;
	background: #000;
	color: yellow;
	justify-content: center;
	align-items: center;
	display: none;
}

.Puppet{
	z-index: 7
}
